$base-border = #9AF1FF
$base-line = #97E1EC
$font-size-large-xxx = 24px
$font-size-large-xx = 20px
$font-size-large-x = 18px
$font-size-large = 16px
$font-size-normal = 14px
$font-size-middle = 12px
$font-size-small = 10px
$base-login-text = rgba(213, 249, 255, 1)
$font-size-mini = 8px

// Color
$color-light = #D5F9FF
$color-light-green = #2BE4C0
$color-orange = #FF7A29

$color-bg = #000000
$color-yellow = #F2E76B
$color-red = #E72820
$color-green = #22545F
$color-text = #FFFFFF
$color-base = #D5F9FF

$color-alarm-blue = #008CFF
$color-alarm-yellow = #FFCE00
$color-alarm-orange = #FE8D00
$color-alarm-red = #F42A21

// 变更风险
$color-chg-status-20 = #00E9BE
$color-chg-status-30 = #1A80FF
$color-chg-status-40 = #A0C360
$color-chg-status-50 = #F3E850
$color-chg-status-60 = #20AECD
$color-chg-status-65 = #00E9BE
$color-chg-status-70 = #1A80FF
$color-chg-status-80 = #00E9BE
$color-chg-status-90 = #717171
$color-chg-status-100 = #717171
